@import "../colors.scss";
.reply{
    width:80%;
    padding: 1rem;
    display: flex;
    background-color: white;
    align-items: flex-start;
    margin: .15rem .5rem .5rem .5rem;
    border-radius: 1rem;
}
.postUsername{
    color: $primary-blue;
    font-weight: 500;
}

// Mobile version //
@media screen and (max-width: 625px) {
    .reply{
        flex-direction: column-reverse;
        position: relative;
        width:90%;
    }
}
