@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

// Variables

$primary-blue: hsl(238, 40%, 52%);
$primary-red: hsl(358, 79%, 66%);
$lightgrayblue: hsl(239, 57%, 85%);
$secondary-red: hsl(357, 100%, 86%);

$darkblue: hsl(212, 24%, 26%);
$grayblue: hsl(211, 10%, 45%);
$lightgray: hsl(223, 19%, 93%);
$verylightgray: hsl(228, 33%, 97%);


body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    background-color: $verylightgray;
}
*{
    box-sizing: border-box;
}


