@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import "./colors.scss";

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    background-color: $verylightgray;
}
*{
    box-sizing: border-box;
}


